*{
    box-sizing:border-box
}
%main_transition{
    transition: all .3s ease-in-out;
}
%slow_transition{
    transition: all .6s ease-in-out;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: $main_color;
}
.carousel-control-prev-icon {
    background-image: none
}
.carousel-control-next-icon {
    background-image: none
}.carousel-control-next, .carousel-control-prev{
    width: auto;
    opacity: 1;
    z-index: 3;
    span{
        display: block;
        background-color: $main_color;
        width: 65px;
        height: 60px;
        font-size: 30px;
        padding: 6px;
    }
    }
.main_color{
    color: $main_color;
    font-family: fantasy;
}
p{
    color: #b1afaf;
}
.res_padding{
    padding:0;
}
.padding_top{
    padding-top: 9px !important;
}
.layout{
    position: absolute;
    background-color: #2a292969;
    width:100%;
    height: 100%;
    z-index: 2;
}
//Head
.main_head{
    text-align:center;
    padding:40px 0;
    h2{
        font-family: inherit;
        font-weight: 700;
        color: #333;
    }
}
.sec_padding{
    padding:80px 0;
}