* {
  box-sizing: border-box;
}

.main_btn, .testimonials .layout .carousel-control-next span, .testimonials .layout .carousel-control-prev span, .sec_plane .card .card-head, .sec_plane .card, .main_nav_bar .navbar-light .navbar-nav .nav-link {
  transition: all 0.3s ease-in-out;
}

.sec_footer ul li svg, .btn_top {
  transition: all 0.6s ease-in-out;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #eea412;
}

.carousel-control-prev-icon {
  background-image: none;
}

.carousel-control-next-icon {
  background-image: none;
}

.carousel-control-next, .carousel-control-prev {
  width: auto;
  opacity: 1;
  z-index: 3;
}
.carousel-control-next span, .carousel-control-prev span {
  display: block;
  background-color: #eea412;
  width: 65px;
  height: 60px;
  font-size: 30px;
  padding: 6px;
}

.main_color {
  color: #eea412;
  font-family: fantasy;
}

p {
  color: #b1afaf;
}

.res_padding {
  padding: 0;
}

.padding_top {
  padding-top: 9px !important;
}

.layout {
  position: absolute;
  background-color: #2a292969;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.main_head {
  text-align: center;
  padding: 40px 0;
}
.main_head h2 {
  font-family: inherit;
  font-weight: 700;
  color: #333;
}

.sec_padding {
  padding: 80px 0;
}

.main_nav_bar .navbar-brand {
  padding: 0;
}
.main_nav_bar .bg-light {
  background-color: #4c5a7d !important;
}
.main_nav_bar .navbar-light .navbar-nav .nav-link {
  color: white;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 600;
}
.main_nav_bar .navbar-light .navbar-nav .nav-link:focus, .main_nav_bar .navbar-light .navbar-nav .nav-link:hover {
  color: #eea412;
}
.main_nav_bar .navbar-light .navbar-nav .nav-link.main_btn {
  margin: 0;
}
@media (min-width: 992px) {
  .main_nav_bar .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.slide_show {
  overflow: hidden;
  position: relative;
}
.slide_show .carousel-caption {
  display: flex;
  top: 30%;
}

.sec_about .content span {
  font-family: auto;
}
.sec_about .content p {
  font-size: 17px;
  margin-top: 24px;
  color: #a1a1a1;
}

.our_data {
  background-color: #2d3032;
  color: #cccc;
}
.our_data .box {
  background-color: #eea412;
  color: white;
  height: 104px;
}
.our_data .box span {
  font-family: unset;
  line-height: 15px;
}
.our_data .box span.icon {
  display: block;
  text-align: center;
  line-height: 98px;
  background-color: #fff;
  color: #2d3032;
  height: 104px;
  width: 97px;
  margin: 0 14px;
  font-size: 39px;
}
.our_data .box h2 {
  margin: 0;
  font-weight: bold;
  line-height: 56px;
}

.sec_plane .card {
  overflow: hidden;
}
.sec_plane .card:hover {
  box-shadow: 7px 6px 10px #e5e5e5;
}
.sec_plane .card .card-head {
  background-color: #2d3032;
  color: white;
  padding: 13px 0;
}
.sec_plane .card .card-head:hover {
  background-color: #eea412;
}
.sec_plane .card .card-head h2, .sec_plane .card .card-head h3 {
  color: #f1eded;
  font-size: 22px;
}
.sec_plane .card .card-head h2 {
  letter-spacing: 2px;
  font-size: 25px;
}
.sec_plane .card .card-body {
  text-align: left;
}
.sec_plane .card .card-body p {
  display: inline-block;
}
.sec_plane .card .footer {
  padding: 20px;
}
.sec_plane .card .footer span {
  display: block;
}
.sec_plane .card .footer .hvr-radial-in:before {
  background-color: #2d3032;
}
.sec_plane .card .footer .main_btn {
  background-color: #2d3032;
  border-color: #eea412;
  color: white;
}
.sec_plane .card .footer .main_btn:hover {
  background-color: #eea412;
}

.testimonials {
  background-image: url("../img/testimonials.jpg");
  background-attachment: fixed;
  background-size: cover;
}
.testimonials .layout {
  padding: 50px 0;
  position: static;
  background-color: #2a2929d3;
}
.testimonials .layout .main_head h2 {
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 20px;
}
.testimonials .layout .carousel-control-next, .testimonials .layout .carousel-control-prev {
  width: auto;
  opacity: 1;
  z-index: 3;
}
.testimonials .layout .carousel-control-next span, .testimonials .layout .carousel-control-prev span {
  background-color: white;
  color: black;
  top: 126px;
}
.testimonials .layout .carousel-control-next span:hover, .testimonials .layout .carousel-control-prev span:hover {
  background-color: #eea412;
  color: white;
}
.testimonials img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin: 24px auto;
}
.testimonials h4 {
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  color: white;
}
.testimonials .carousel-caption {
  position: static;
  background-color: black;
  width: 613px;
  margin: 20px auto;
  padding: 35px 20px;
}
.testimonials .carousel-caption p {
  font-size: 18px;
  font-weight: 100;
}

.cop_supporter {
  background-color: #eea412;
}
.cop_supporter ul {
  margin: 0;
}
.cop_supporter ul li {
  display: inline-block;
  width: 23%;
  overflow: hidden;
}
.cop_supporter ul li img {
  max-width: 100%;
}

.main_btn {
  background-color: #eea412;
  border: 1px solid #eea412;
  border-radius: 0;
  padding: 7px 28px;
  margin: 22px auto;
  border: 2px solid #e9e7e7;
}
.main_btn:hover {
  color: #fff;
  background-color: #4c5a7d;
}

.btn_top {
  background-color: #4c5a7d;
  position: fixed;
  right: 10px;
  bottom: -50px;
  width: 40px;
  height: 45px;
  text-align: center;
  z-index: 10;
  color: white;
  border-radius: 3px;
  padding: 4px;
  font-size: 24px;
  cursor: pointer;
}

.hvr-radial-in:before {
  background-color: #eea412;
}

.hvr-underline-from-left:before {
  background-color: #eea412;
}

.hvr-ripple-out:before {
  border: #ffffff solid 6px;
}

.sec_footer {
  background: #4c5a7d url("../img/world-map.png");
  color: white;
  padding-bottom: 0;
}
.sec_footer h3 {
  font-size: 26px;
  font-weight: bold;
}
.sec_footer p {
  font-size: 15px;
  color: #b1b1b1c7;
}
.sec_footer ul li {
  display: inline-block;
  background-color: white;
  color: black;
  padding: 8px;
}
.sec_footer ul li svg {
  display: block;
}
.sec_footer ul li:hover {
  background-color: #eea412;
}
.sec_footer ul li:hover svg {
  transform: rotateY(360deg);
  color: white;
}
.sec_footer ul.links li {
  background-color: #ffffff00;
  display: block;
  border-bottom: 1px dotted #3a404f;
  color: #bcbbbb;
  font-size: 17px;
}
.sec_footer .copyright {
  background-color: #2d3032;
  margin-top: 30px;
}
.sec_footer .copyright p {
  margin: 0;
  padding: 21px;
  color: #827458;
}

/*# sourceMappingURL=homepage.css.map */
