.slide_show{
    overflow: hidden;
    position: relative;
    .carousel-caption{
        display: flex;
        top: 30%;
    }
}

// Start sec_about
.sec_about{
    .content{
        span{
            font-family: auto;
        }
        p{
            font-size: 17px;
            margin-top: 24px;
            color: #a1a1a1;
        }  
    }
    
}
// Start our_data
.our_data{
    background-color: $main_black;
    color: #cccc;
    .box{
        background-color: $main_color;
        color: white;
        height: 104px;
       span{
            font-family: unset;
            line-height: 15px;
            &.icon{
                display: block;
                text-align: center;
                line-height: 98px;
                background-color: #fff;
                color: $main_black;
                height: 104px;
                width: 97px;
                margin: 0 14px;
                font-size: 39px;
            }
        }
        h2{
            margin:0;
            font-weight: bold;
            line-height: 56px;
        }
    }
    
}
// Start Choose your plane sec_plane
.sec_plane{
    .card{
        @extend %main_transition;
        overflow: hidden;
        &:hover{
            box-shadow: 7px 6px 10px #e5e5e5;
        }
        .card-head{
            background-color: $main_black;
            color: white;
            padding: 13px 0;
            @extend %main_transition;
            &:hover{
                background-color: $main_color;
            }
            h2,h3{
                color:#f1eded;
                font-size: 22px;
                
            }
            h2{
                letter-spacing: 2px;
                font-size: 25px;            
            }
        }
        .card-body{
            text-align:left;
            p{
                display: inline-block;
            }
        }
        .footer{
            padding:20px;
            span{
                display: block;
            }.hvr-radial-in:before{
                background-color: $main_black;
            }
            .main_btn{
                background-color: $main_black;
                border-color: $main_color;
                color:white;
                &:hover{
                    background-color: $main_color;
                }
            }
        }
        
    }
}
// Start testimonials
.testimonials{
    background-image: url('../img/testimonials.jpg');
    background-attachment: fixed;
    background-size: cover;
    .layout {
    padding:50px 0;
        position: static;
        background-color: #2a2929d3;
        .main_head{
            h2{
                color:rgba(255, 255, 255, 0.8);
                margin-bottom: 20px;
            }
        }
        .carousel-control-next, .carousel-control-prev{
            width: auto;
            opacity: 1;
            z-index: 3;
            span{
                background-color: white;
                color:black;
                top: 126px;
                @extend %main_transition;
                &:hover{
                    background-color: $main_color;
                    color:white;
                }
            }
        }
    }
    img{
        width: 90px;
        height: 90px;
        border-radius: 50%;
        margin: 24px auto;
    }
    h4{
        text-align: center;
        font-weight: 400;
        font-size: 22px;
        color: white;
    }
    .carousel-caption{
        position: static;
        background-color: black;
        width: 613px;
        margin: 20px auto;
        padding: 35px 20px;
        p{
            font-size: 18px;
            font-weight: 100;
        }
    }
}
// Start cop_supporter
.cop_supporter{
    background-color:$main_color;
    ul{
        margin:0;
        li{
            display: inline-block;
            width: ( (100% / 4) - 2);
            overflow: hidden;
            img{
                max-width: 100%;
            }
        }
    }
}