.main_btn{
    background-color: $main_color;
    border: 1px solid $main_color;
    border-radius: 0;
    padding: 7px 28px;
    margin:22px auto;
    border: 2px solid #e9e7e7;
    @extend %main_transition;
    &:hover{
        color:#fff;
        background-color: $seconde_color ;
    }
}
.btn_top{
    background-color: $seconde_color;
    position: fixed;
    right: 10px;
    bottom: -50px;
    width: 40px;
    height: 45px;
    text-align: center;
    z-index: 10;
    color: white;
    border-radius: 3px;
    padding: 4px;
    font-size: 24px;
    @extend %slow_transition;
    cursor: pointer;
    //display: none;
}.hvr-radial-in:before{
    background-color: $main_color;
}.hvr-underline-from-left:before{
    background-color: $main_color;
}.hvr-ripple-out:before{
    border: #ffffff solid 6px;
}