.sec_footer{
    background:#4c5a7d url('../img/world-map.png');
    color: white;
    padding-bottom: 0;
    h3{
        font-size: 26px;
        font-weight: bold;
    }
    p{
        font-size: 15px;
        color: #b1b1b1c7;
    }
    ul{
        li{
            display: inline-block;
            background-color: white;
            color: black;
            padding: 8px;
            svg{
                display: block;
                @extend %slow_transition;
            }
            &:hover{
                background-color: $main_color;
                svg{
                    transform: rotateY(360deg);
                    color: white;
                }
            }
        }
    }
    ul.links{
        li{
            background-color: #ffffff00;
            display: block;
            border-bottom: 1px dotted #3a404f;
            color: #bcbbbb;
            font-size: 17px;
        }
        
    }
   
    .copyright{
        background-color: $main_black;
        margin-top:30px;
        p{
            margin: 0;
            padding: 21px;
            color: #827458;
        }
    }
}