.main_nav_bar{
    .navbar-brand{
        padding:0;  
    }
    .bg-light {
        background-color: $seconde_color !important;
    }  
    .navbar-light .navbar-nav .nav-link {
        color: rgb(255 255 255);
        text-transform: uppercase;
        font-size: 17px;
        font-weight: 600;
        @extend %main_transition;
        &:focus,&:hover {
            color: $main_color;
        }
        &.main_btn{
            margin:0
        }
    }
    @media (min-width: 992px){
       .navbar-expand-lg .navbar-nav .nav-link {
            padding-right: 1rem;
            padding-left: 1rem;
        } 
    }

}